body {
    font-size: 80px;
}

div.flowers {
    background: url(http://40.media.tumblr.com/7664401c1f1d7e78eb70880536b2cde2/tumblr_mumphxfqcA1ra6jfio3_1280.jpg);
    height: 1200px; width: 100%;
    color: white;
    font-family: century; 
}

div.bio {
	background: url(https://41.media.tumblr.com/6bfd16102a4c9bc52170f2814ce09dd1/tumblr_mumphxfqcA1ra6jfio2_1280.jpg);
	height: 1200px;
	color: white;
	font-family: century;

	}
div.contact {
	background: url(https://36.media.tumblr.com/83e5fc54a0bf44e92b271fe0cf263f3c/tumblr_mumphxfqcA1ra6jfio4_1280.jpg);
	height: 1200px; width: 100%;
	color: white;
	font-family: century;

	}
